# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Vova Potiichuk
email = volodymyr.potiichuk@prosapient.com

[merge]
	tool = vimdiff
  conflictstyle = diff3
[mergetool]
	prompt = false
