# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Vova Potiichuk
email = volodymyr.potiichuk@prosapient.com

[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[http]
	sslcainfo = /Users/volodymyrpotiichuk/.netskope/cacert.pem
